* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 1rem 1.5rem;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  &.dark {
    background-color: $blue-10;
    color: $body-text;
  }
  &.light {
    background-color: $blue-1;
    color: $blue-10;
    .shortcut:after {
      background-color: #e6eaee;
    }
    .shortcut__key span,
    .shortcut__name span {
      background-color: $blue-1;
    }
    .user-settings {
      background-color: $blue-1;
      color: $blue-10;
      .user-settins-buttons .button:last-of-type {
        background-color: $blue-10;
        color: $blue-1;
      }
    }
    .button {
      background-color: $blue-1;
    }
    input#custom-shortcut {
      background-color: #e6eaee;
      color: $blue-10;
    }
  }
}

input {
  color: #5f697b;
  display: block;
  font-size: 0.8rem;
  height: 2rem;
  outline: 0;
  padding: 0 1rem 0 1.8rem;
  margin-top: 1rem;
  width: 100%;
  font-weight: 300;
  &:focus {
    transition: all 0.2s ease;
  }
  &#search {
    border-radius: 100px;
    background: #fff 10px 9px no-repeat;
    background-image: url("./assets/search.svg");
    border: 1px solid $blue-2;
  }
  &#custom-shortcut {
    background-color: $blue-9;
    background-image: none;
    border: 1px solid $blue-9;
    height: 2rem;
    padding-left: 0.8rem;
    margin-top: 0.5rem;
    border-radius: 3px;
    color: $blue-1;
    &:focus {
      border-color: $blue-6;
    }
  }
}

::-webkit-input-placeholder {
  color: $blue-5;
  font-weight: 300;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.flexbox {
  display: flex;
}
