* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 1rem 1.5rem;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  &.dark {
    background-color: $dark-blue-2;
    color: $body-text;
  }
  &.light {
    background-color: $light-blue-1;
    color: $dark-blue-2;
    .shortcut:after {
      background-color: $light-gray;
    }
    .shortcut__key span,
    .shortcut__name span {
      background-color: $light-blue-1;
    }
    .user-settings {
      background-color: $light-blue-1;
      color: $dark-blue-2;
      .user-settins-buttons .button:last-of-type {
        background-color: $dark-blue-2;
        color: $light-blue-1;
      }
    }
    .button {
      background-color: $light-blue-1;
      border-color: $gray;
    }
    .cancel:hover {
      background-color: $light-gray;
    }
    .save-and-relaunch:hover {
      background-color: $light-gray;
    }
    input#keycode {
      background-color: white;
      color: $dark-blue-2;
    }
  }
}

input {
  color: $dark-gray;
  display: block;
  font-size: 0.8rem;
  height: 2rem;
  outline: 0;
  padding: 0 1rem 0 1.8rem;
  margin-top: 1rem;
  width: 100%;
  font-weight: 300;
  &:focus {
    transition: all 0.2s ease;
  }
  &#search {
    border-radius: 100px;
    background: white 10px 9px no-repeat;
    background-image: url("./assets/search.svg");
    border: 1px solid $medium-blue-1;
  }
  &#keycode {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 3px;
    margin-left: 0.6rem;
    width: 3rem;
    border: solid 1px $gray;
    height: 1.8rem;
    font-weight: 500;
  }
}

.select_style {
  background: white;
  color: $dark-blue-1;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(123, 123, 123, 0.2);
  border: solid 1px $gray;
  position: relative;
  cursor: pointer;
  padding-right: 20px;
}
.select_style span {
  position: absolute;
  right: 10px;
  width: 8px;
  height: 8px;
  background: url("./assets/arrow.png") no-repeat;
  top: 50%;
  margin-top: -4px;
  background-size: contain;
}
.select_style select {
  -webkit-appearance: none;
  appearance: none;
  width: 120%;
  background: none;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 10px;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: $light-blue-2;
  font-weight: 300;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.flexbox {
  display: flex;
}

.flexbox--row {
  flex-direction: row;
}

.flexbox--column {
  flex-direction: column;
}
