.button {
  font-weight: 300;
  background-color: $blue-11;
  border-radius: 3px;
  border: 1px solid $blue-6;
  cursor: default;
  &:hover {
    border-color: $blue-3;
    transition: border-color 0.3s ease;
  }
}
.button--xs {
  font-size: 0.6rem;
  padding: 3px 10px;
  line-height: 1rem;
}
.button--sm {
  font-size: 0.8rem;
  padding: 0.4rem 1rem;
}
.button--quit {
  position: absolute;
}
