.item-container {
  display: flex;
  margin-bottom: 1.5rem;
}
.item-container label {
  flex-grow: 1;
}
.item {
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
}

.item.active {
  color: #253368;
}

.item .toggle {
  border-radius: 3rem;
  background-color: #e6eaee;
  transition: all 0.2s;
}

.item.active .toggle {
  background-color: #008cff;
}

.item .ball {
  height: 1rem;
  width: 1rem;
  margin-left: 0;
  border-radius: 2.5rem;
  box-shadow: 0 3px 6px 0 rgba(0, 35, 11, 0.2);
  background-color: #fff;
  transition: all 0.3s ease-out;
}

.item.active .ball {
  margin-left: 1rem;
}
