#show-all-apps {
  position: absolute;
  &:hover {
    cursor: default;
    rect {
      animation: staggering 0.7s forwards ease;
    }
    #rec-topright {
      opacity: 0;
      animation-delay: 200ms;
    }
    #rec-bottomleft {
      opacity: 0;
      animation-delay: 200ms;
    }
    #rec-topleft {
      opacity: 0;
      animation-delay: 300ms;
    }
  }
}

#quit-app {
  right: 1.5rem;
}

#setting-app {
  left: 3.4rem;
  margin-top: 2px;
  position: absolute;
  &:hover #sliders {
    stroke: rgb(104, 166, 241);
    transition: 0.1s ease-in-out;
  }
}
