.shortcuts__title {
  font-weight: 700;
  font-size: 0.8rem;
  margin: 1.8rem 0 0.3rem 0;
  color: $medium-blue-4;
}
.shortcut {
  display: flex;
  font-size: 0.7rem;
  position: relative;
  line-height: 1.4;
  > * {
    flex: 1;
    padding: 0.4rem 0;
  }
  &:last-child {
    border-bottom: none;
  }
  &:after {
    content: "";
    display: block;
    height: 1px;
    top: 0.9rem;
    background-color: $dark-blue-1;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
}
.shortcut__key {
  position: relative;
  span {
    padding-right: 0.5rem;
    background-color: $dark-blue-2;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}
.shortcut__name {
  color: $medium-blue-1;
  text-align: right;
  span {
    padding-left: 0.5rem;
    background-color: $dark-blue-2;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  &:hover {
    color: $neon;
  }
}

.shortcuts__group {
  margin-bottom: 2rem;
}
