.user-settings {
  display: none;
  background-color: $dark-blue-1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
    padding: 2rem;
  }
  li {
    margin-bottom: 0.5rem;
  }
  label {
    flex-grow: 1;
    font-size: 0.8rem;
  }
  .select__group {
    align-items: flex-end;
  }
  .user-settins-buttons {
    margin-left: 2rem;
    position: fixed;
    bottom: 2rem;
    .button:last-of-type {
      right: 2rem;
      position: fixed;
    }
  }
}
