.user-settings {
  /*display: none;*/
  background-color: #112e40;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.user-settings ul {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  padding: 2rem;
}

.user-settings .button {
  position: relative;
  display: inline-block;
  margin: 0 0 2rem 1.5rem;
}
