/* light blue */
$light-blue-1: #f6f8fb;
$light-blue-2: #d5d9e4;
/* medium blue */
$medium-blue-1: #68a1f3;
$medium-blue-2: #3972b5;
$medium-blue-3: #264f81;
$medium-blue-4: #7f8ba0;
/* dark blue */
$dark-blue-1: #112e40;
$dark-blue-2: #0f2533;
$dark-blue-3: #0a1a23;

$body-text: #f8fafa;
$gray: #dadada;
$light-gray: #e6eaee;
$dark-gray: #5f697b;
$neon: #6090fa;
