* {
  box-sizing: border-box;
}

body {
  background-color: #f6f8fb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 1rem 1.5rem;
  margin: 0;
  box-sizing: border-box;
  color: #192534;
  transition: all 0.2s ease;
  text-rendering: optimizeLegibility;
}

input {
  color: #5f697b;
  background: #fff 10px 9px no-repeat;
  background-image: url("./assets/search.svg");
  border: 0.05rem solid #d8dce6;
  border-radius: 100px;
  display: block;
  font-size: 0.8rem;
  height: 2rem;
  outline: 0;
  padding: 0 1rem 0 1.8rem;
  margin-top: 1rem;
  width: 100%;
  font-weight: 300;
}

input:focus {
  border-color: #68a1f3;
  box-shadow: 0 0 0 0.1rem rgba(86, 138, 216, 0.2);
}

::-webkit-input-placeholder {
  color: #d5d9e4;
  font-weight: 300;
}

.hide {
  display: none;
}

.app-name {
  font-size: 1.6rem;
  font-weight: 800;
  text-align: center;
  margin: 0;
  padding-top: 1.5rem;
}

.shortcuts__title {
  font-weight: 600;
  font-size: 1rem;
  margin: 1.6rem 0 0.2rem 0;
}

.shortcut {
  display: flex;
  border-top: 1px solid #dbe7f1;
  font-size: 0.8rem;
  color: #5f697b;
}

.shortcuts__title + .shortcut {
  border-top: none;
}

.shortcut > * {
  flex: 1;
  padding: 0.7rem 0;
}

.shortcut:last-child {
  border-bottom: none;
}

.shortcut__name {
  text-align: right;
  color: #78a6e7;
}

.shortcut__name:hover {
  color: #0495f7;
}

.shortcuts__group {
  margin-bottom: 2rem;
}
