* {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  background-color: #f6f8fb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 1rem 1.5rem;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  background-color: #0f2533;
  color: #f8fafa;
}

input {
  color: #5f697b;
  background: #fff 10px 9px no-repeat;
  background-image: url("./assets/search.svg");
  border: 0.05rem solid #d8dce6;
  border-radius: 100px;
  display: block;
  font-size: 0.8rem;
  height: 2rem;
  outline: 0;
  padding: 0 1rem 0 1.8rem;
  margin-top: 1rem;
  width: 100%;
  font-weight: 300;
}

input:focus {
  border-color: #68a1f3;
  box-shadow: 0 0 0 0.1rem rgba(86, 138, 216, 0.2);
  transition: all 0.2s ease;
}

::-webkit-input-placeholder {
  color: #d5d9e4;
  font-weight: 300;
}

.button--primary {
  background: #5569d9;
  border-color: #486fd6;
  color: #fff;
}
.button--secondary {
  background: transparent;
  border: 1px solid #486fd6;
  color: #5569d9;
  margin-left: 0.5rem;
}

.hide {
  display: none !important;
}

.app-name {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding-top: 2rem;
}

.shortcuts__title {
  font-weight: 700;
  font-size: 0.8rem;
  margin: 1.8rem 0 0.3rem 0;
  color: #7f8ba0;
}

.shortcut {
  display: flex;
  font-size: 0.7rem;
  position: relative;
  line-height: 1.4;
}

.shortcut > * {
  flex: 1;
  padding: 0.4rem 0;
}

.shortcut:last-child {
  border-bottom: none;
}

.shortcut__key {
  position: relative;
}

.shortcut__key span {
  padding-right: 0.5rem;
  background-color: #0e2634;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.shortcut:after {
  content: "";
  display: block;
  height: 1px;
  top: 0.9rem;
  background-color: #1e3644;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.shortcut__name {
  color: #468ee5;
  text-align: right;
}

.shortcut__name span {
  padding-left: 0.5rem;
  background-color: #0e2634;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.shortcut__name:hover {
  color: #6090fa;
}

.shortcuts__group {
  margin-bottom: 2rem;
}

.no-shortcuts {
  text-align: center;
  margin-top: 3rem;
  font-weight: 200;
}

#show-all-apps {
  position: absolute;
}

#show-all-apps:hover {
  cursor: default;
}

#show-all-apps:hover rect {
  animation: staggering 0.7s forwards ease;
}

#show-all-apps:hover #rec-topright {
  opacity: 0;
  animation-delay: 200ms;
}

#show-all-apps:hover #rec-bottomleft {
  opacity: 0;
  animation-delay: 200ms;
}

#show-all-apps:hover #rec-topleft {
  opacity: 0;
  animation-delay: 300ms;
}

#quit-app {
  position: absolute;
  right: 1.5rem;
  font-size: 0.6rem;
  font-weight: 300;
  background-color: #0a1a23;
  padding: 3px 10px;
  border-radius: 3px;
  line-height: 1rem;
  border: 1px solid #264f81;
  cursor: default;
}

#quit-app:hover {
  border-color: #3972b5;
  transition: border-color 0.3s ease;
}

@keyframes staggering {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
